<img src="http://covers.openlibrary.org/b/isbn/{{ ISBN }}-L.jpg" class="img-polaroid">

<form>
  <div>
    <label>Title:</label>
    <input type="text" class="title" value="{{ title }}">
    <label>Author:</label>
    <input type="text" class="author" value="{{ author }}">
  </div>
  <div>
    <label>Date:</label>
    <input type="text" class="date datepicker" value="{{Date date }}">
    <label>ISBN:</label>
    <input type="text" class="ISBN" value="{{ ISBN }}">
    <label>Dewey Decimal:</label>
    <input type="text" class="dewey" value="{{ dewey }}">
  </div>
  <label class="desc">Description:</label>
  <textarea class="description">{{ description }}</textarea>

</form>

<div class="buttons">
<button class="save btn" data-loading-text="Saving..." data-complete-text="Saved!">Save</button>
<button class="destroy btn btn-danger">Delete</button>
</div>
<legend>Copies: {{copies.length}}</legend>
<!-- {{#each copies}}{{ this.id }}<br />{{/each}} -->
<legend>Loans</legend>
<table class="table table-bordered table-striped">
  <thead>
    <th>ID</th><th>User</th><th>Date</th><th>Due</th><th>Returned</th>
  </thead>
  <tbody>
    {{#each loans}}
      <tr><td>{{ this.id }}</td><td>{{ this.userId }}</td><td>{{Date this.date }}</td><td>{{Date this.due }}</td><td>{{ this.returned }}</td></tr>
    {{/each}}
  </tbody>
</table>
<legend>Reservations</legend>
<table class="table table-bordered table-striped">
  <thead>
    <th>ID</th><th>User</th><th>Date</th> 
  </thead>
  <tbody>
    {{#each reservations}}
      <tr><td>{{ this.id }}</td><td>{{ this.userId }}</td><td>{{Date this.date }}</td></tr>
    {{/each}}
  </tbody>
</table>

