{{#if admin}}
form
  | <img class="img-polaroid" {{bindAttr src="cover"}}>
  div
    label Title:
    {{view Ember.TextField valueBinding="title"}}
    label Author:
    {{view Ember.TextField valueBinding="author"}}
  div
    label Date:
    {{view App.DateView valueBinding="date" class="date-picker"}}
    label ISBN:
    {{view Ember.TextField valueBinding="isbn"}}
    label Dewey Decimal:
    {{view Ember.TextField valueBinding="dewey"}}
  label.desc Description:
  {{view Ember.TextArea valueBinding="description"}}
  .buttons
    | <button {{action "save"}} class="save btn" >Save</button>
    | <button {{action "delete"}}class="destroy btn btn-danger">Delete</button>
// legend Copies: {{copies.length}}
// {{#each copies}}{{ this.id }}<br />{{/each}}
//- legend Loans
//- table.table.table-bordered.table-striped
//-   thead
//-     th ID
//-     th User
//-     th Date
//-     th Due
//-     th Returned
//-   tbody
//-     | {{#each loans}}
//-     tr
//-       td {{ this.id }}
//-       td {{ this.userId }}
//-       td {{Date this.date }}
//-       td {{Date this.due }}
//-       td {{ this.returned }}
//-     | {{/each}}
//- legend Reservations
//- table.table.table-bordered.table-striped
//-   thead
//-     th ID
//-     th User
//-     th Date
//-   tbody
//-     | {{#each reservations}}
//-     tr
//-       td {{ this.id }}
//-       td {{ this.userId }}
//-       td {{Date this.date }}
//-     | {{/each}}
{{else}}
.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h3#modalTitle {{ title }}
#modalBody.modal-body
  | <img class="img-polaroid" {{bindAttr src="cover"}}>
  dl.dl-horizontal
    dt Title
    dd {{ title }}
    dt Author
    dd {{ author }}
    dt Date
    dd {{ date }}
    dt Description
    dd {{ description }}
#modalFooter.modal-footer
  button.btn(data-dismiss='modal', aria-hidden='true') Close
  | <button {{action "reserve"}} class="btn btn-success span3" >Reserve</button>
  //- | {{#if loaned}}
  //- button.btn.btn-primary.reserve(data-loading-text='Renewing...', data-complete-text='Renewed!') Renew
  //- | {{else}}
  //- | {{#if reserved}}
  //- button.btn.btn-primary.reserve(data-loading-text='Canceling...', data-complete-text='Canceled!') Unreserve
  //- | {{else}}
  //- button.btn.btn-primary.reserve(data-loading-text='Reserving...', data-complete-text='Reserved!') Reserve
  //- | {{/if}}
  //- | {{/if}}
{{/if}}