#issue.row-fluid
  .offset4.span4.column
    label Scan/Enter User ID
    {{#if userError}}
    .alert.alert-error
      button.close(type='button', data-dismiss='alert') ×
      {{ userError }}
    {{/if}}
    {{view App.SubmitText valueBinding="userId" class="span12" method="selectUser"}}
    {{#if user.id}}
    .result Selected user:
      h3 {{ user.firstName }} {{ user.lastName }}
      h4 {{ user.username }}
      h4 {{ user.email }}
      hr
    ul.books
      {{#if uncommitted.length}}
      {{#each book in uncommitted}}
      li
        span.id {{ book.id }}
        {{ book.title }}
        small {{ book.author }}
        | <button {{action "remove" book}} class="btn btn-danger btn-mini">Remove</button>
      {{/each}}
      {{/if}}
    label Scan/Enter Book ID
    {{#if bookError}}
    .alert.alert-error
      button.close(type='button', data-dismiss='alert') ×
      {{ bookError}}
    {{/if}}
    {{view App.SubmitText valueBinding="bookId" class="span6" method="selectBook"}}
    | <button {{action "issue"}} class="btn btn-success span3" >Save</button>
    | <button {{action "cancel"}} class="btn btn-danger span3" >Cancel</button>
    {{/if}}
